.App {
  text-align: center;
}

.reg_form_div {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  width: fit-content;
  padding: 10px;
  background-color: antiquewhite;
}
.reg_form_div input,
button {
  text-align: center;
  width: 150px;
  margin: 2%;
  justify-self: center;
  font-size: medium;
}
input{
  text-align: center;
}

button:hover {
  cursor: pointer;
  background-color: aquamarine;
}
.btn_delete:hover {
  background-color: red;
  color: white;
}
